{% extends "cms_app/base.html" %}
{% load cms_tags %}
{% load staticfiles %}

{% block content %}
{% static_placeholder "banner" or %}
  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <span>
        <h2>
          <img src="{% static './images/ASRG_Logo_white.png' %}"
               alt="Networking"
               width="300"
               height="107" />
        </h2>
      </span>
      <p>Automotive Security Research Group<br /></p>
      <ul class="actions special">
        <li>
          <a id="join-btn"
             href="{% url 'register' %}"
             class="button primary">Join the Community</a>
        </li>
      </ul>
    </div>
  </section>
  {% endstatic_placeholder %}
  {% static_placeholder "one" or %}
    <section id="one"
             class="wrapper style2 special">
      <div class="inner">
        <header class="major">
          <h2>
            Automotive Security Research
          </h2>
          <p>
            The Automotive Security Research Group (ASRG) is a non-profit
            initiative to promote the development of security solutions for
            automotive products.
          </p>
          <p>
            ​The goals of ASRG are not to produce any products or services,
            however to support and assist with the development of security
            solutions in the automotive industry. This will be achieved by
            focusing 3 main topics, knowledge, networking and collaboration.
          </p>
        </header>
        <ul class="icons">
          <li>
            <a href="#two"><span class="label"><img class="asrg-icons asrg-knowledge"
                     src="{% static './images/Icons/knowledge.png' %}"
                     alt="Knowledge" />Knowledge</span></a>
          </li>
          <li>
            <a href="#three"><span class="label"><img class="asrg-icons networking"
                     src="{% static './images/Icons/networking.png' %}"
                     alt="Networking" />Networking</span></a>
          </li>
          <li>
            <a href="#four"><span class="label"><img class="asrg-icons asrg-collaboration"
                     src="{% static './images/Icons/collaboration.png' %}"
                     alt="Collaboration" />Collaboration</span></a>
          </li>
        </ul>
      </div>
    </section>
  {% endstatic_placeholder %}

  {% placeholder "counter" %}

  {% static_placeholder "two" or %}
    <section id="two" class="wrapper alt style2">
      <section class="spotlight">
        <div class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></div>
        <div class="content">
          <h2>
            Knowledge
          </h2>
          <p>
            Finding and knowing where to look for information is the first
            step to understanding problems and proposing informed solutions.
            By collecting information, and sources of information in a single
            location, researchers and engineers can be more effective to find
            the relevant data and information faster. Taking information and
            transforming it into understanding, is where education plays an
            important role. Education is the way we create value in ourselves
            as competencies. It allows a better understanding of the concepts,
            strategies, and systems which allows for better implementations of
            solutions.
          </p>
        </div>
      </section>
      <section id="three"
               class="spotlight">
        <div class="image"><img src="{% static 'images/pic02.gif' %}" alt="" /></div>
        <div class="content">
          <h2>
            Networking
          </h2>
          <p>
            Having a good network of colleagues in the area of security is
            very important. Since the area is very wide and has a large range
            of competencies, it’s not possible to know everything about
            everything. By knowing where to look or who to call to gain the
            needed information or competencies fast, allows for better
            reactions to events, implementation strategies and safer
            environments for everyone.
          </p>
        </div>
      </section>
      <section id="four" class="spotlight">
        <div class="image"><img src="{% static 'images/pic03.gif' %}" alt="" /></div>
        <div class="content">
          <h2>
            Collaboration
          </h2>
          <p>
            Allowing for an environment where you can work together to
            research new and exciting fields of interest and create meaningful
            reults with are able to be shared with the industry through white
            papers, presentations and workshops. ASRG promotes collarboration
            and project teams by enabling research to be successful by
            offering resources, knowledge and mentorship.
          </p>
        </div>
      </section>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style4">
      <div class="inner">
        <header>
          <h2>Membership</h2>
          <p>
            Become a member today! Or read the
            <a href="https://docs.asrg.io">docs</a> to get more information.
          </p>
        </header>
        <ul class="actions stacked">
          <li>
            <a id="register-btn"
               href="{% url 'register' %}"
               class="button fit primary">Register</a>
          </li>
          <li>
            <a href="https://docs.asrg.io"
               class="button fit">Read the docs</a>
          </li>
        </ul>
      </div>
    </section>
  {% endstatic_placeholder %}
{% endblock %}
