{% for child in children %}
    <li>
  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ child.get_menu_title }}"
    aria-expanded="false" aria-controls="collapse{{ child.get_menu_title }}">
        {{child.get_menu_title }}
      </button>
    </li>
    {% if child.get_descendants %}
      <div class="collapse" id="collapse{{ child.get_menu_title }}">
      {% for kid in child.get_descendants %}
        {% if kid.visible %}
        <li>
          <a href="{{ kid.get_absolute_url }}">
            {{kid.get_menu_title }}
          </a>
        </li>
       {% endif %}
      {% endfor %}
      </div>
    {% endif %}
{% endfor %} 

<!-- custom entries -->
<li><a href="{% url 'location_view' %}">Locations</a></li>
<li><a href="{% url 'events' %}">Events</a></li>
<li><a href="{% url 'project_view' %}">Projects</a></li>
<li><a href="https://asrg.gitbook.io/asrg-wiki/">Docs</a></li>
{% if not user.is_authenticated %}
  <li><a href="{% url 'register' %}">Become a Member</a></li>
  <li><a href="{% url 'login' %}"> <i class="fa fa-fw fa-lock"></i> Login</a></li> 
{% else %}
  <li><a href="{% url 'home' %}">Member portal</a></li>
{% endif %}
<!-- /custom entries -->
