{% extends "cms_app/base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Main -->
<article id="main">
  <header>
    <h2>About ASRG</h2>
    <p>Why ASRG?</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">
      <h2>You are ASRG</h2>
      <p>
        This is an organization for you… for the people that enjoy reverse
        engineering everything, understanding how something works, how to
        make it better and watching out of the security of data and it’s
        owners. That means that the ideas, presentations, projects and
        everything that happens in ASRG is a result of interest in the
        group. If you have ideas… want to contribute or play a stronger
        role, please let us know.
      </p>
      <h2>Membership</h2>
      <p>There is no costs for membership. It’s Free.</p>
      <p>
        We use Meetup.com to organize the events and membership. Each
        local organization has their own meetup page.
      </p>

      <h2>Mission Statement</h2>
      <p></p>
      <h2>Why?</h2>
      <p>
        ASRG started when I was working on my masters regarding how
        security for automotive products will change the industry from a
        business perspective. One of the outcomes of this research was
        that the goals of security are the same across all the different
        automotive manufactures and even across different products. Since,
        we all have the same or similar goals and development process
        models, knowledge could or should be non-OEM specific besides the
        implementation strategy. So I searched in Stuttgart, Germany for a
        group that might help me learn, understand and network with
        individuals who are also interested, involved or implementing
        security solutions for the automotive market. Surprisingly, I
        didn’t find any groups, communities or meetings that were
        addressing the topic… so I made one. In August 2017, ASRG-S had
        the first meeting in a small rented meeting room in Stuttgart
        West. 12 People attended, giving insights and generating ideas of
        how to go forward and what was important to them. This was the
        basis for the development of the mission statement and goals of
        the organization. From then on, we have been meeting every month,
        organizing events, contributing and brainstorming ways to support
        the goals and create value for its members and sponsors.
      </p>
    </div>
  </section>
</article>
{% endblock content %}
