{% extends "cms_app/base.html" %}
{% load staticfiles %}

{% block content %}

<!-- Main -->
<article id="main">
  <header>
    <h2>Blog</h2>
    <p>What is going on in the Automotive Security industry</p>
  </header>
  <section class="wrapper style5"
           style="background-color: #292F33;">
    <div class="inner">
      <a class="twitter-timeline"
         data-theme="dark"
         href="https://twitter.com/AutoSecResGroup?ref_src=twsrc%5Etfw">Tweets by AutoSecResGroup</a>
      <script async
              src="https://platform.twitter.com/widgets.js"
              charset="utf-8"></script>
    </div>
  </section>
</article>

{% endblock content %}
