{% extends "landing_page/base.html" %}
{% load staticfiles %}

{% block content %}

<article id="main">
  <header>
    <h2>ASRG | SECURITY</h2>
    <p>How to report a vulnerability</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">
      <h2>Security First</h2>
      <p>
        One of the main goals of the Automotive Security Research Group is
        to share knowledge. But we understand that sharing security
        vulnerabilities in the open is undesirable in many ways for some
        security experts.
        <br />
        <br />
        Therefore we hereby provide you with a way to help us research
        vulnerabilities, share them with our trusted partners and find
        solutions to address them or develop hardened proof of concepts.
        <br />
        <br />
        Please use the following PGP key to encrypt your report and send
        us an email to
        <span>s</span><span>e</span><span>c</span><span>u</span><span>r</span><span>i</span><span>t</span><span>y</span><span>@</span><span>a</span><span>s</span><span>r</span><span>g</span><span>.</span><span>i</span><span>o</span>.
      </p>
      <h2>PGP Key</h2>
      <code>
              -----BEGIN PGP PUBLIC KEY BLOCK----- <br>

              mDMEXfZaxhYJKwYBBAHaRw8BAQdA8nf5HBmWodXYFL0lFkFseDbLEsK9z6hVE4q5
              T1roMp20NUF1dG9tb3RpdmUgU2VjdXJpdHkgUmVzZWFyY2ggR3JvdXAgPHNlY3Vy
              aXR5QGFzcmcuaW8+iJAEExYIADgWIQQJpZIJ9bdEZ/TyJ5DA7r+5geeN/wUCXfZa
              xgIbAwULCQgHAgYVCgkICwIEFgIDAQIeAQIXgAAKCRDA7r+5geeN/6AoAQCr7Kry
              oLGWRYfpxTnLmEvd1syWLRfQec4Phq2TlDJkIgEAiyTddc9MSqTmlO6yOmWEDYgG
              ARRxqB05BzHm+zjXFwi4OARd9lrGEgorBgEEAZdVAQUBAQdAad6SKDErYMStAspI
              X6EdwaDYWf4zmuRs8Ug3u6rqS1EDAQgHiHgEGBYIACAWIQQJpZIJ9bdEZ/TyJ5DA
              7r+5geeN/wUCXfZaxgIbDAAKCRDA7r+5geeN/5+nAQDp4lvcUgS2sVarziTbsYFp
              k8k5us1L9byizd6vmeEJRwEA1hra8B6BY066r2n8ciVbKaT5hdI8mjxYNhKqPjp3
              pA4=
              =HtMt
              <br>
            
              -----END PGP PUBLIC KEY BLOCK-----            </code>
    </div>
  </section>
</article>


{% endblock content %}
