{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block title %}Projects{% endblock %}

{% block content %}
<article id="main">
    <header>
        <h2>ASRG | PROJECTS</h2>
        
    </header>
    <section class="wrapper style5" style="padding-top: 70px;">
        <div class="inner">
           
          

         {% for project in projects %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body, input, select, textarea {
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 400;
  letter-spacing: 0.075em;
  line-height: 1.65em;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
a:hover{
text-decoration: none !important;
}
.card {width: 1110px !important;}
    </style>
</head>
<body>
    <div class="container bcontent" style="">
        <h2>{{ project.name }}</h2>
        <hr />
        <div class="card" style="width: 650px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    {% if project.project_picture %}
                        <img class="card-img" src="{{ project.project_picture.url }}">
                    {% endif %}
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <p class="card-text">{{ project.short_name }}</p>
                        <p class="card-text">{{ project.project_status }}</p>
                        <p class="card-text">{{ project.description }}</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    {% endfor %}
</body>


           
</section>
</article>








{% endblock content %}
