{% extends "layouts/base.html" %}

{% block title %} Trainings {% endblock %} 
{% block content %}
<div class="c-body">
  <main class="c-main">
  <h2> Trainings </h2>
  <form method="get">
      {{ trainings.form.as_p }}
      {{ trainings.form.media }}
      <input type="submit" />
  </form>
  <li style="list-style: none;">
    <a id="join-btn" href="{% url 'training_create' %}" class="button primary">Add new training</a>
  </li>
  <div class="container-fluid">
    <div class="fade-in">
      <div class="row">
      {% for training in trainings.qs %}
        <div class="col-sm-6 col-md-5">
          <div class="card">
            <div class="card-header"> {{ training.title }} </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                      {% if training.logo %}
                        <img src="{{ training.logo.url }}" class="logo-img">
                      {% endif %}
                  </div>
                  <div class="col-md-6">
                      {{ training.company }}
                      <br>
                      {{ training.description }} 
                  </div>
                </div>
              </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  </main>
</div>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
































