{% extends "layouts/base.html" %}
{% block title %} Trainings {% endblock %} 
{% block content %}
  {% if created %}
    <h4> Training created succesfully!</h4>
  {% elif errors %}
    <h4> Correct the errors below!</h4>
    {% if training_create_form.errors %}
      {% for field in training_create_form %}
          {% for error in field.errors %}
          <p> {{ field.label }} -- {{ error }} </p>
          {% endfor %}
      {% endfor %}
    {% endif %}
    <h2> Add New Training </h2>
    <form method="post" enctype="multipart/form-data" >
        {{ training_create_form.as_p }}
        {{ training_create_form.media }}
        {% csrf_token %}
        <input type="submit" />
    </form>
  {% endif %}
{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
