<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-131464826-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-131464826-2");
    </script>

    <title>WORLD | ASRG</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="icon" href="favicon.ico" type="../image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="../image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css"/></noscript>
  </head>

  <body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="index.html">ASRG</a></h1>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="https://asrg.io">Home</a></li>
                  <li><a href="https://asrg.io/about.html">About Us</a></li>
                  <li><a href="https://asrg.io/world/webinars.html">WORLD</a></li>
                  <li><a href="https://asrg.gitbook.io/asrg-wiki/">Docs</a></li>
                  <li><a href="https://asrg.io/security.html">Report a vulnerability</a></li>
                  <li><a href="https://asrg.io/blog.html">Blog</a></li>
                  <li><a href="https://app.gitbook.com/@asrg/s/asrg-wiki/members">Become a member</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <article id="main">
        <header>
          <h2>ASRG | WORLD</h2>
          <p>LiveStream</p>
          <h3>"Attacking cars from the Cloud, the API way of Stealing Cars"</h3>
          <li style="list-style: none;">
            <a
              id="join-btn"
              href="https://youtu.be/dI0D-sG2wOw"
              class="button primary"
              >Join the LiveStream</a
            >
          </li>
        </header>
        <section class="wrapper style5">
          <div class="inner">
            <h2>Next LiveStream</h2>

                  <h4>When: <b>June 18th, 2020 @ 16:00 GMT +0
                  </b></h4>
                  <h4>Where: <b><a href="https://youtu.be/dI0D-sG2wOw">LiveStream</a></b></h4>
                  <h4>Who: <b>Vangelis Stykas, Security Enthusiast and Researcher</b></h4>
            <p>
            <h4>Presentation:</h4>
            <h3><center>"Attacking cars from the Cloud, the API way of Stealing Cars"</center></h3>
            <p>This presentation will cover a variety of attacks that we did on various 3rd party car alarms , GPS trackers and immobilizers. We will cover techniques used and goals pursued after connecting. And how common API errors that happened in the 90s still live for 20 years and can be used to attack a smart car.</p>
            <h4>About the Presenter:</h4>
            <p>
              Vangelis Stykas<br>
              Security Enthusiast and Researcher<br>
              <br>
              Vangelis is a specialist in API security, worked at some startups and managed API development for a large number of applications. Additionally he has spent several years in mobile & web app development, researched maritime satcomms security with several ship system vulnerabilities to his name and more recently moved into penetration testing. He has successfully hacked cars, ships, locks, smart homes amongst other IoT devices.
            </p>
            </div>
        </section>
      </article>

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a
              href="https://join.slack.com/t/asrg/shared_invite/enQtNjMyMzAyMDM4MjI1LTM2Njc3MWRkNWI1NjkwYmQ4NDRkZjYwYmE2MzcyMWY3Y2IwZjc1YTAzYjQxM2M0NzdhOGEzNjNmYjNkM2EzZWM"
              class="icon brands fa-slack"
            >
              <span class="label"></span></a>
          </li>
          <li>
            <a
              href="https://twitter.com/AutoSecResGroup"
              class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a
              href="https://facebook.com/ASRG-Automotive-Security-Research-Group-1454803571254832/"
              class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/automotive-security-research-group/"
              class="icon brands fa-linkedin"
              ><span class="label">Linkedin</span></a
            >
          </li>
          <li>
            <a href="mailto:hello@asrg.io" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; 2020 ASRG.io</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          <li><a href="privacy.html">Data Privacy</a></li>
          <li><a href="https://asrg.io/imprint">Imprint</a></li>
        </ul>
      </footer>
    </div>

    <style>
      @media screen and (max-width: 640px) {
        .webinar {
          width: 100%;
          height: 100%;
        }
      }
    </style>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
