<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-131464826-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-131464826-2");
    </script>

    <title>WORLD | ASRG</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="icon" href="favicon.ico" type="../image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="../image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css"/></noscript>
  </head>

  <body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="index.html">ASRG</a></h1>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="https://asrg.io">Home</a></li>
                  <li><a href="https://asrg.io/about.html">About Us</a></li>
                  <li><a href="https://asrg.io/world/webinars.html">WORLD</a></li>
                  <li><a href="https://asrg.gitbook.io/asrg-wiki/">Docs</a></li>
                  <li><a href="https://asrg.io/security.html">Report a vulnerability</a></li>
                  <li><a href="https://asrg.io/blog.html">Blog</a></li>
                  <li><a href="https://app.gitbook.com/@asrg/s/asrg-wiki/members">Become a member</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <article id="main">
        <header>
          <h2>ASRG | WORLD</h2>
          <p>LiveStream</p>
          <h3>"Lessons Learned for Automotive Navigation after the Tesla GPS Hack"</h3>
          <li style="list-style: none;">
            <a
              id="join-btn"
              href="https://youtu.be/qDcZ_gV_JzY"
              class="button primary"
              >Join the LiveStream</a
            >
          </li>
        </header>
        <section class="wrapper style5">
          <div class="inner">
            <h2>Next LiveStream</h2>

                  <h4>When: <b>May 6th, 2020 @ 12:00 EST (Detroit), 18:00 CEST (Berlin), 19:00 Tel-Aviv and Romania</b></h4>
                  <h4>Where: <b><a href="https://youtu.be/qDcZ_gV_JzY">LiveStream</a></b></h4>
                  <h4>Who: <b><br>Roi Mit (CMO, <a href="https://www.regulus.com/">Regulus Cyber</a>) <br>Dror Katalan (Chief Engineer, <a href="https://www.regulus.com/">Regulus Cyber</a>) </b></h4>


            <p>
            <h4>Presentation:</h4>
            Regulus is one of the software leaders for GPS security.

              GPS is widely used across multiple automotive applications and in extensive use across multiple vehicles on the road today. 
              
              The Regulus Cyber researchers found that spoofing attacks on the Tesla GNSS (GPS) receiver could be carried out wirelessly and remotely, exploiting security vulnerabilities in mission-critical telematics, sensor fusion, and navigation capabilities.
              
              This talk will share the current state of GPS technology in vehicles, present existing navigation systems in both ADAS and autonomous vehicles, and detail the GPS spoofing experiment and the results.
              
              Regulus' experts will also offer insight on best practices for GPS Cybersecurity and designing robust navigation systems.
              
            </p>
            <h4>About the Presenter:</h4>
            <p>
            <b>Roi Mit</b><br>
Chief Marketing Officer at Regulus Cyber<br>

Roi is leading the company’s branding, strategy, PR and messaging. Furthermore, Roi is actively engaged in planning, executing and documenting the company’s experiments and research.
He is a sales and marketing expert, has a background in both corporate and startup companies.

He brings over 8 years of marketing experience and has held various executive roles, including Director of Marketing & Sales for ParaZero Drone Safety Systems, as well as Digital Marketing Specialist at WalkMe.

Previously he worked as a debate instructor, pitch consultant and a journalist. He also served as an officer in Israel Defense Forces, serving as part of a liaison unit with the UN and abroad as assistant military attaché.

Roi volunteered in various educational, social and entrepreneurial initiatives including – SpaceIL, WeWork Labs Startup mentoring, StandWithUs, Taglit Excel Alumni Board, Israel’s Student Union and holds a B.A. in Economics and Political Science, Cum Laude, The Open University.

          </p>
          <p>
        <b>Dror Katalan</b><br>
Chief Engineer at Regulus Cyber<br>

Dror is performing the company's research and analysis of new technologies, managing experiments and field tests, providing sales-engineering support, and responsible for integration projects with customers.

Prior to Regulus, Dror worked as an R&D Manager at Rafael Advanced Defense Systems for 11
years. His work included Research and development dealing with high technology lasers, sensors (VIS / IR) and high-power optical fibers embedded systems. He was responsible for multi-million defense projects, focused on deliver complex optical and mechanical capabilities. He also led large scale testing projects with military and defense agencies around the globe.

Dror also served as R&D Engineer in Camtek, conducting Wafer inspection system design engineer, responsible for developing tools compatible with Class 1 CleanRooms. And as Product Manager for Applied Materials in the field of mask inspection.

Dror holds a Bachelor’s Degree in Laser Optical and Mechanical Engineering and a Master’s Degree in Mechanical Engineering both from the Technion – Israel Institute of Technology.
            </p>
          </div>
        </section>
      </article>

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a
              href="https://join.slack.com/t/asrg/shared_invite/enQtNjMyMzAyMDM4MjI1LTM2Njc3MWRkNWI1NjkwYmQ4NDRkZjYwYmE2MzcyMWY3Y2IwZjc1YTAzYjQxM2M0NzdhOGEzNjNmYjNkM2EzZWM"
              class="icon brands fa-slack"
            >
              <span class="label"></span></a>
          </li>
          <li>
            <a
              href="https://twitter.com/AutoSecResGroup"
              class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a
              href="https://facebook.com/ASRG-Automotive-Security-Research-Group-1454803571254832/"
              class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/automotive-security-research-group/"
              class="icon brands fa-linkedin"
              ><span class="label">Linkedin</span></a
            >
          </li>
          <li>
            <a href="mailto:hello@asrg.io" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; 2020 ASRG.io</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          <li><a href="privacy.html">Data Privacy</a></li>
          <li><a href="https://asrg.io/imprint">Imprint</a></li>
        </ul>
      </footer>
    </div>

    <style>
      @media screen and (max-width: 640px) {
        .webinar {
          width: 100%;
          height: 100%;
        }
      }
    </style>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
