{% extends "base_events.html" %}
{% load staticfiles %}

{% block content %}

<article id="main">
    <header>
        <h2>ASRG | Events</h2>
        <p>{{event_type}}</p>
        <h3>"{{event.title|capfirst}}"</h3>
        <li style="list-style: none;">
            <a id="join-btn"
               href="{% url join_link %}"
               class="button primary">Join the Event</a>
        </li>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <h3>{{ event.title|capfirst }}</h3>
            <p>When: {{event.date}} </p>
            <p>Where: Link </p>
            <p>Who: {{event.presenter}} </p>
            <p>Abstract: {{event.description}} </p>
            <p>About the Presenter:</p>
            <p>{{event.presenter_info}}</p>
        </div>
    </section>
</article>




{% endblock content %}