{% extends "base_events.html" %}
{% load staticfiles %}

{% block content %}

<article id="main">
    <header>
        <h2>ASRG | EVENTS</h2>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <div>
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">Image</th>
                            <th>Event</th>
                            <th>Presenter</th>
                            <th class="text-center">Location</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    {% for event in events %}
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div>
                                    Image
                                </div>
                            </td>
                            <td class="text-center">
                                <div>
                                    <h3>{{ event.title|capfirst }}</h3>
                                </div>
                            </td>
                            <td>
                                <div>{{ event.presenter }}</div>
                                <div class="small text-muted"><span>{{ event.presenter_company }}</span></div>
                            </td>
                            <td class="text-center">
                                WORLD
                            </td>
                            <td>
                                <div class="small text-muted">{{ event.date }}</div><strong>XXX Days</strong>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

    </section>
</article>








{% endblock content %}