<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
  <button
    class="c-header-toggler c-class-toggler d-lg-none mr-auto"
    type="button"
    data-target="#sidebar"
    data-class="c-sidebar-show"
  >
    <span class="c-header-toggler-icon"></span></button
  ><a class="c-header-brand d-sm-none" href="#"
    ><img
      class="c-header-brand"
      src="/static/assets/brand/coreui-base.svg"
      width="97"
      height="46"
      alt="CoreUI Logo"
  /></a>
  <button
    class="c-header-toggler c-class-toggler ml-3 d-md-down-none"
    type="button"
    data-target="#sidebar"
    data-class="c-sidebar-lg-show"
    responsive="true"
  >
    <span class="c-header-toggler-icon"></span>
  </button>
  <ul class="c-header-nav d-md-down-none">
    <li class="c-header-nav-item px-3">
      <a class="c-header-nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-header-nav-link" href="{% url 'events' %}">Events</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-header-nav-link" href="#">Threat Intelligence</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-header-nav-link" href="https://docs.asrg.io/">Wiki</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-header-nav-link" href="/jobs">Job Postings</a>
    </li>
  </ul>
  <ul class="c-header-nav ml-auto mr-4">
    <!-- <li class="c-header-nav-item d-md-down-none mx-2">
      <a class="c-header-nav-link" href="#">
        <svg class="c-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bell"
          ></use></svg
      ></a>
    </li>
    <li class="c-header-nav-item d-md-down-none mx-2">
      <a class="c-header-nav-link" href="#">
        <svg class="c-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-list-rich"
          ></use></svg
      ></a>
    </li>
    <li class="c-header-nav-item d-md-down-none mx-2">
      <a class="c-header-nav-link" href="#">
        <svg class="c-icon">
          <use
            xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-envelope-open"
          ></use></svg
      ></a>
    </li> -->
    <li class="c-header-nav-item dropdown">
      <a
        class="c-header-nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="c-avatar">
          {% if user.profile.profile_picture %}
            <img
              class="c-avatar-img"
              src="{{ user.profile.profile_picture.url }}"
              alt= {{ user.username }}
            />
          {% else %}
            <span>{{ user.username }}</span>
          {% endif %}
        </div>
      </a>

      <div class="dropdown-menu dropdown-menu-right pt-0">
        <div class="dropdown-header bg-light py-2">
          <strong>Account</strong>
        </div>
        <a class="dropdown-item" href="#">
          <svg class="c-icon mr-2">
            <use
              xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bell"
            ></use>
          </svg>
          Updates</a>
          <!-- <a class="dropdown-item" href="#"> -->
          <!-- <div class="dropdown-header bg-light py-2"><strong>Settings</strong></div> -->

          <a class="dropdown-item" href="{% url 'profile' %}">
            <svg class="c-icon mr-2">
              <use
                xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"
              ></use>
            </svg>
            Profile
          </a>

          <!-- <a class="dropdown-item" href="#"> -->
          <div class="dropdown-divider"></div>

          <!-- <a class="dropdown-item" href="#">
            <svg class="c-icon mr-2">
              <use
                xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"
              ></use>
            </svg>
            Lock Account
          </a> -->

            {% if user.profile.is_complete %}
              <a class="dropdown-item" href="{% url 'profile_create' %}" >
                Update your Profile
              </a>
            {% else %}
              <a class="dropdown-item" href="{% url 'profile_create' %}" >
                Complete your Profile
              </a>
            {% endif %}

            <a class="dropdown-item" href="{% url 'password_change' %}">
              Change password
            </a>

            <a class="dropdown-item" href="{% url 'edit_profile' %}" >
              Update Personal Info
            </a>

          <a class="dropdown-item" href={% url 'logout' %} >
          <svg class="c-icon mr-2">
            <use
              xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"
            ></use>
          </svg>
          Logout
        </a>
      </div>
    </li>
  </ul>
</header>
