.events_page{
    margin: -2rem 30px 30px 30px;
}
.events_page header{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    width: 750px;
    margin: 3rem auto;
}
.events_page .button{
    background-color: #a80b0b;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.events_page h2{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.events_page h3{
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.events_page h4{
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 4px;
}