<header class="c-header c-header-light c-header-fixed c-header-with-subheader" style="background-color: #1d242a">
  <button
    class="c-header-toggler c-class-toggler d-lg-none mr-auto"
    type="button"
    data-target="#sidebar"
    data-class="c-sidebar-show"
  >
    <span class="c-header-toggler-icon"></span></button
  ><a class="c-header-brand d-sm-none" href="#"
    ><img
      class="c-header-brand"
      src="/static/assets/brand/coreui-base.svg"
      width="97"
      height="46"
      alt="CoreUI Logo"
  /></a>
  <ul class="c-header-nav d-md-down-none">
    <li class="c-header-nav-item px-3">
      <a class="c-sidebar-nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-sidebar-nav-link" href="{% url 'events' %}">Events</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-sidebar-nav-link" href="/threatq">Threat Intelligence</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-sidebar-nav-link" href="https://docs.asrg.io/">Wiki</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-sidebar-nav-link" href="/jobs">Job Postings</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-sidebar-nav-link" href="/projects">Projects</a>
    </li>
    <li class="c-header-nav-item px-3">
      <a class="c-sidebar-nav-link" href="/locations">Locations</a>
    </li>
    {% comment %}
    <li class="c-header-nav-item px-3">
      <a class="c-sidebar-nav-link" href="/trainings">Trainings</a>
    </li>
    {% endcomment %}
  </ul>
  <ul class="c-header-nav ml-auto mr-4">
    <li class="c-header-nav-item dropdown">
      <a
        class="c-sidebar-nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="c-avatar">
          {% if user.profile.profile_picture %}
            <img
              class="c-avatar-img"
              src="{{ user.profile.profile_picture.url }}"
              alt= {{ user.username }}
            />
          {% else %}
            <span>{{ user.username }}</span>
          {% endif %}
        </div>
      </a>

      <div class="dropdown-menu dropdown-menu-right pt-0">
        <div class="dropdown-header bg-light py-2">
          <strong>Account</strong>
        </div>

          <a class="dropdown-item" href="{% url 'profile' %}">
            <svg class="c-icon mr-2">
              <use
                xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"
              ></use>
            </svg>
            Profile
          </a>

          <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="{% url 'password_change' %}">
              Change password
            </a>

            <a class="dropdown-item" href="{% url 'edit_profile' %}" >
              Update Personal Info
            </a>

          <a class="dropdown-item" href={% url 'logout' %} >
          <svg class="c-icon mr-2">
            <use
              xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"
            ></use>
          </svg>
          Logout
        </a>
      </div>
    </li>
  </ul>
</header>
