<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <div class="c-sidebar-brand d-lg-down-none">
      <div class="c-sidebar-brand-full">
        <a href="{% url 'home' %}">
          <img class="c-sidebar-brand-full" src="/static/assets/brand/asrg logo_v5.png" width="80" height="25" alt="ASRG Logo">
        </a>
      </div>
      <div class="c-sidebar-brand-minimized">
        <a href="/index.html">
          <img class="c-sidebar-brand-minimized" src="/static/assets/brand/asrg logo_v5.png" width="50" height="16" alt="ASRG Logo">
        </a>
      </div>
  </div>
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'home' %}">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-home"></use>
        </svg>Home</a></li>
    <li class="c-sidebar-nav-title">Member Portal</li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-building"></use>
        </svg> Organizational</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span>Team</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span>Strategy</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> History</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Press</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'location_view' %}"><span class="c-sidebar-nav-icon"></span> Locations</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Benefits</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Supporters</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Sponsors</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Privacy</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Terms of Use</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-calendar"></use>
        </svg> Events</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> ASRG Meetings</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'events' %}"><span class="c-sidebar-nav-icon"></span> ASRG Webinars</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Conferences</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> CTFs</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Workshops</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-excerpt"></use>
        </svg> Knowledge</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Awareness</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="https://docs.asrg.io/"><span class="c-sidebar-nav-icon"></span> Wiki</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Blog</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Podcast</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'asip' %}"><span class="c-sidebar-nav-icon"></span> Intelligence</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Library</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Resources</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Supplier Directory</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Threat Catalog</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Solutions Catalog</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Tools</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Links</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/brand.svg#cib-hubspot"></use>
        </svg> Networking</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Channels</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Social Media</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Forums</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Newsletter</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lan"></use>
        </svg> Collaboration</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Overview</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> ASIP</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> ASVM</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Member Portal</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-school"></use>
        </svg> Academia</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Overview</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Learning</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Technical Committees</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Student Organizations</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Research</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-industry"></use>
        </svg> Industry</a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Career Dev</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'job_posting' %}"><span class="c-sidebar-nav-icon"></span> Job Postings</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'training_postings' %}"><span class="c-sidebar-nav-icon"></span> Training</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" style="color: darkgray" href="#"><span class="c-sidebar-nav-icon"></span> Compentency Mgmt</a></li>
      </ul>
    </li>
    <!-- Remove of Logout in Menu
    {% if user.is_authenticated %}
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href={% url 'logout' %} >
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
      </svg> Logout</a></li>
    {% endif %}
    -->
  </ul>
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>
