{% extends "layouts/base-fullscreen.html" %}

{% load staticfiles %}

{% block title %} Login {% endblock %}

{% block content %}


    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">

            <form role="form" method="post" action="">

              {% csrf_token %} 

              <div class="card-body">
                <div class="text-center">

                  <!-- Banner -->
                  <section id="banner">
                    <div class="inner">
                      <span>
                        <h2>
                          <a href="">
                            <img
                                src="{% static './images/ASRG_Logo_black.png' %}"
                                alt="ASRG"
                                width="300"
                                height="107"
                                title="Automotive Security Research Group"
                            />
                          </a>
                        </h2>
                      </span>
                    </div>
                  </section>

                  <h5>Login</h5>
                  <p class="text-muted">
                    {% if msg %}
                      {{ msg | safe }}
                    {% else %}
                      <span><i>Please enter your credentials.</i></span>
                    {% endif %}
                  </p>
                </div>

                <br />

                <div class="input-group mb-3">
                  <div class="input-group-prepend"><span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                      </svg></span></div>
                  {{ form.username }}
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend"><span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                      </svg></span></div>
                  {{ form.password }}
                </div>

                <br />

                <div class="text-center">
                    <button type="submit" name="login" class="btn btn-primary px-4">Login</button>
                </div>

              </div>
            
            </form>  

            <div class="card-footer p-4 text-center">
                Don't have an account? <a href={% url 'register' %} >Register</a>
                <br>
                Can't log in? <a href={% url 'reset_password' %} >Reset password</a>
            </div>
              
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
