{% extends "layouts/base-fullscreen.html" %}

{% load staticfiles %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mx-4">

      <form role="form"
            method="post"
            action="">

        {% csrf_token %}

        <div class="card-body p-4">
          <div class="text-center">

            <!-- Banner -->
            <section id="banner">
              <div class="inner">
                <span>
                  <h2>
                    <a href="https://asrg.io/">
                      <img src="{% static './images/ASRG_Logo_black.png' %}"
                           alt="ASRG"
                           width="300"
                           height="107"
                           title="Automotive Security Research Group" />
                    </a>
                  </h2>
                </span>
              </div>
            </section>

            {% if success %}
              <h5> Registration successful! </h5>
            {% else %}
              <h5>Member Registration</h5>
            {% endif %}
            <p class="text-muted">
              {% if not form.errors and not success%}
                <span><i>Become a member of ASRG. Please fill out the below information.</i>
                </span>
              {% elif success %}
                <span><i>{{ msg }}</i></span>
              {% endif %}
              {% for field in form %}
                {% if field.errors %}
                  {% for error in field.errors %}
                    <span style="color: red;">{{ error | safe }}<br></span>
                  {% endfor %}
                {% endif %}
              {% endfor %}

            </p>
          </div>

          <br />

          {% if not success %}
          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                </svg></span></div>
            {{ form.username }}
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                </svg></span></div>
            {{ form.email }}
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                </svg></span></div>
            {{ form.password1 }}
          </div>
            <p>
            Passwords must contain at least:<br>
              8 characters<br>
              1 numeric digit<br>
              1 special character<br>
            </p>

          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                </svg></span></div>
            {{ form.password2 }}
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-football"></use>
                </svg>
              </span></div>
            {{ form.chapter }}
          </div>
          <!-- <div class="reg-additional-info mb-2"><span> </span></div> -->


          <div class="input-group mb-3">
            <!-- ADDITIONAL BEGINNIG-->
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-face"></use>
                </svg>
              </span></div>
            {{ form.first_name }}
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-face"></use>
                </svg>
              </span></div>
            {{ form.last_name }}
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-layers"></use>
                </svg>
              </span></div>
            {{ form.occupational_status }}
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-globe-alt"></use>
                </svg>
              </span></div>
            {{ form.country }}
          </div>

          <br />

          <div class="text-center">
            <button type="submit"
                    name="register"
                    class="btn btn-primary px-4">Register</button>
          </div>

        </div>
        {% endif %}

      </form>

      <div class="card-footer p-4 text-center">
        Have an account? <a href={% url 'login' %}>Login</a>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
