<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-131464826-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-131464826-2");
    </script>

    <title>WORLD | ASRG</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="icon" href="favicon.ico" type="../image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="../image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css"/></noscript>
  </head>

  <body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="index.html">ASRG</a></h1>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="https://asrg.io">Home</a></li>
                  <li><a href="https://asrg.io/about.html">About Us</a></li>
                  <li><a href="https://asrg.io/world/webinars.html">WORLD</a></li>
                  <li><a href="https://asrg.gitbook.io/asrg-wiki/">Docs</a></li>
                  <li><a href="https://asrg.io/security.html">Report a vulnerability</a></li>
                  <li><a href="https://asrg.io/blog.html">Blog</a></li>
                  <li><a href="https://app.gitbook.com/@asrg/s/asrg-wiki/members">Become a member</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <article id="main">
        <header>
          <h2>ASRG | WORLD</h2>
          <p>LiveStream</p>
          <h3>"Telematic Control Unit (in)Security"</h3>
          <li style="list-style: none;">
            <a
              id="join-btn"
              href="https://www.youtube.com/watch?v=YnV-vDnOMKE"
              class="button primary"
              >Join the LiveStream</a
            >
          </li>
        </header>
        <section class="wrapper style5">
          <div class="inner">
            <h2>Next LiveStream</h2>

                  <h4>When: <b>June 4th, 2020 @ 16:00 GMT +0
                  </b></h4>
                  <h4>Where: <b><a href="https://www.youtube.com/watch?v=YnV-vDnOMKE">LiveStream</a></b></h4>
                  <h4>Who: <b>Jofre Palau, Principal Product Security Manager @ <a href="http://automotive.vodafone.com/">Vodafone Automotive</a></b></h4>
            <p>
            <h4>Presentation:</h4>
            <h3><center>"Telematic Control Unit (in)Security"</center></h3>
            <p>Nowadays all cars have some sort of cellular network connectivity. Either for eCall, predictive maintenance, usage based insurance, updates over the air or stolen vehicle recovery…  While car manufacturers are investing a lot in Cybersecurity often they are only focused in the inner part of the car, neglecting the cellular interface. In this presentation we will explain the level of security that the different cellular interfaces provide and show real cases of weak Telematic Control Units interfaces and services that allow attackers to compromise and disrupt the telematic services. We will conclude providing a list of security requirements to help car manufacturers prevent these vulnerabilities.
            </p>
            <h4>About the Presenter:</h4>
            <p>
              Jofre Palau<br>
              Principal Product Security Manager<br>
              Vodafone Automotive<br>
              <br>

              In his role as Principal Product Security Manager Jofre Palau is responsible in Vodafone Automotive for ensuring Product Security in the Telematic Control Units manufactured by Vodafone and the associated telematic services. He has experience in embedded security, telecommunications security, penetration test and PKI. <br>
In the last 20 years Jofre has held different security related positions including product security assessment and testing. From the education side he holds a master degree in Telecommunications by the UPC University from Barcelona and the CISSP, CISA, CISM and SANS GMOB certifications. 

            </div>
        </section>
      </article>

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a
              href="https://join.slack.com/t/asrg/shared_invite/enQtNjMyMzAyMDM4MjI1LTM2Njc3MWRkNWI1NjkwYmQ4NDRkZjYwYmE2MzcyMWY3Y2IwZjc1YTAzYjQxM2M0NzdhOGEzNjNmYjNkM2EzZWM"
              class="icon brands fa-slack"
            >
              <span class="label"></span></a>
          </li>
          <li>
            <a
              href="https://twitter.com/AutoSecResGroup"
              class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a
              href="https://facebook.com/ASRG-Automotive-Security-Research-Group-1454803571254832/"
              class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/automotive-security-research-group/"
              class="icon brands fa-linkedin"
              ><span class="label">Linkedin</span></a
            >
          </li>
          <li>
            <a href="mailto:hello@asrg.io" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; 2020 ASRG.io</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          <li><a href="privacy.html">Data Privacy</a></li>
          <!-- <li><a href="https://asrg.io/imprint">Imprint</a></li> -->
        </ul>
      </footer>
    </div>

    <style>
      @media screen and (max-width: 640px) {
        .webinar {
          width: 100%;
          height: 100%;
        }
      }
    </style>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
