{% extends "layouts/base.html" %}
{% load leaflet_tags %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<br>
<br>

<section class="pricing" id="announcement">
  <div class="container">
    <style> 
      h3.test2 {
   text-align: center;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 50px;
   letter-spacing: -2px;
   border-bottom: 2px solid black;
   text-transform: uppercase;
 }</style>
    <h3 class="mb-5 display-4 test2">Announcement</h3>
   <div class="container">
<div class="alert-box">
    <span class="badge">Announcement</span> <br>
           {% for announcement in announcements %}
           <h1>{{ announcement.title }}</h1>
           <p>{{ announcement.announcement }}</p>
        {% endfor %}
  </div>  
</div>
  </div>
</section>

<br>
<br>
<br>
<br>

<section class="pricing" id="links">
  <div class="container">
     <style> 
      h3.test2 {
   text-align: center;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 50px;
   letter-spacing: -2px;
   border-bottom: 2px solid black;
   text-transform: uppercase;
 }</style>
    <h3 class="mb-5 display-4 test2">Links</h3>
    <div class="container">
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
      <div class="card-body text-center">
        <img src="/static/assets/img/knowledge.png" alt="Knowledge" width="65" height="53">
        <p class="card-text"><b>Knowledge</b></p>
        <img src="/static/assets/img/meetup.svg" alt="Meetups" width="25" height="50"> <a href="https://www.meetup.com/de-DE/Automotive-Security-Research-Group-Detroit/" target="_blank">  Monthly Meetups</a><br>
        <img src="/static/assets/img/drive.svg" alt="Security" width="25" height="50"> <a href="https://docs.asrg.io/knowledge/security-library/" target="_blank">  Security Library</a><br>
        <img src="/static/assets/img/repair.svg" alt="Workshops" width="25" height="50"> <a href="https://docs.asrg.io/knowledge/ctf/" target="_blank">  Workshops / CTFs</a><br>
        <img src="/static/assets/img/gitbook.svg" alt="Wiki" width="25" height="50"> <a href="https://docs.asrg.io/">  ASRG Wiki</a>
      </div>
   
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <div class="card-body">
      <div class="card-body text-center">
        <img src="/static/assets/img/networking.png" alt="Networking" width="65" height="65">
        <p class="card-text"><b>Networking</b></p>
        <img src="/static/assets/img/linkedin.svg" alt="Linkedin" width="25" height="50"> <a href="https://www.linkedin.com/company/automotive-security-research-group/" target="_blank">  Linkedin</a><br>
        <img src="/static/assets/img/slack.svg" alt="Slack" width="25" height="50"> <a href="https://join.slack.com/t/asrg/shared_invite/enQtNjMyMzAyMDM4MjI1LTM2Njc3MWRkNWI1NjkwYmQ4NDRkZjYwYmE2MzcyMWY3Y2IwZjc1YTAzYjQxM2M0NzdhOGEzNjNmYjNkM2EzZWM/" target="_blank">  Slack</a><br>
        <img src="/static/assets/img/telegram.svg" alt="Telegram" width="25" height="50"> <a href="https://t.me/joinchat/AfA9GxiVUuUTYUzDsSGwZg/" target="_blank">  Telegram</a>
      </div>
    
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 card-body">
      <div class="card-body text-center">
        <img src="/static/assets/img/collaboration.png" alt="Collaboration" width="65" height="44">
        <p class="card-text"><b>Collaboration</b></p>
        <img src="/static/assets/img/project.svg" alt="Projects" width="25" height="50"> <a href="https://docs.asrg.io/collaboration/projects/" target="_blank">  Projects</a><br>
        <img src="/static/assets/img/github.svg" alt="Github" width="25" height="50"> <a href="https://github.com/ASRG/" target="_blank"> GitHub</a>
      </div>
                </div>
            </div>
        </div>
</div>
</div>
</section>
  
<br>
<br>
<br>
<br>

<section class="pricing" id="map">
  <div class="container">
     <style> 
      h3.test2 {
   text-align: center;
   font-family: "Trebuchet MS", sans-serif;
   font-size: 50px;
   letter-spacing: -2px;
   border-bottom: 2px solid black;
   text-transform: uppercase;
 }</style>
    <h3 class="mb-5 display-4 test2">Chapters Map</h3>
    <div class="container">
    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header blue-gradient">
        
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">

        <!--Google map-->
        <div class="z-depth-1-half map-container-5" style="height: 300px">
    {% leaflet_map "locations_map" callback="window.map_init"%}
  </div>
</div>


{% endblock content %}

{% block javascripts %}

<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/main.js"></script>
{% leaflet_js %}
{% leaflet_css %}
<style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 800px;
    }

</style>
<script>
        
    function map_init(map, options) {
        let marker;
        {% for chapter in chapters %}
            {% if chapter.get_coordinates.0 != 0 and chapter.get_coordinates.1 != 0 %}
                marker = L.marker([{{ chapter.get_coordinates.0 }}, {{ chapter.get_coordinates.1 }}]);
                marker.bindPopup(
                    `Location: {{ chapter.location }}\r\n
                     City: {{ chapter.city }}, Country: {{ chapter.country }} \r\n
                     Lead: {{ chapter.lead }} \r\n`
                );
                marker.on('mouseover', function (e) {
                    this.openPopup();
                });
                marker.on('mouseout', function (e) {
                    this.closePopup();
                });
                marker.addTo(map);
            {% endif %}
        {% endfor %}

    }
</script>

{% endblock javascripts %}
  
      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->
  </div>

</section>








