{% extends "layouts/base.html" %}
{% load leaflet_tags %}

{% block title %} Dashboard {% endblock %} 

{% block content %}


  <br>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body> 
 
<div class="container">
  
  <div class="card-columns">
    <div class="card bg-light">
      <div class="card-body text-center">
        <img src="/static/assets/img/knowledge.svg" alt="Knowledge" width="50" height="100">
        <p class="card-text">Knowledge</p>
        <img src="/static/assets/img/meetup.svg" alt="Meetups" width="25" height="50"> <a href="https://www.meetup.com/de-DE/Automotive-Security-Research-Group-Detroit/" target="_blank">  Monthly Meetups</a><br>
        <img src="/static/assets/img/drive.svg" alt="Security" width="25" height="50"> <a href="https://docs.asrg.io/knowledge/security-library/" target="_blank">  Security Library</a><br>
        <img src="/static/assets/img/repair.svg" alt="Workshops" width="25" height="50"> <a href="https://docs.asrg.io/knowledge/ctf/" target="_blank">  Workshops / CTFs</a><br>
        <img src="/static/assets/img/gitbook.svg" alt="Wiki" width="25" height="50"> <a href="https://docs.asrg.io/">  ASRG Wiki</a>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <img src="/static/assets/img/networking.svg" alt="Networking" width="50" height="100">
        <p class="card-text">Networking</p>
        <img src="/static/assets/img/linkedin.svg" alt="Linkedin" width="25" height="50"> <a href="https://www.linkedin.com/company/automotive-security-research-group/" target="_blank">  Linkedin</a><br>
        <img src="/static/assets/img/slack.svg" alt="Slack" width="25" height="50"> <a href="https://join.slack.com/t/asrg/shared_invite/enQtNjMyMzAyMDM4MjI1LTM2Njc3MWRkNWI1NjkwYmQ4NDRkZjYwYmE2MzcyMWY3Y2IwZjc1YTAzYjQxM2M0NzdhOGEzNjNmYjNkM2EzZWM/" target="_blank">  Slack</a><br>
        <img src="/static/assets/img/telegram.svg" alt="Telegram" width="25" height="50"> <a href="https://t.me/joinchat/AfA9GxiVUuUTYUzDsSGwZg/" target="_blank">  Telegram</a>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <img src="/static/assets/img/collaboration.svg" alt="Collaboration" width="50" height="100">
        <p class="card-text">Collaboration</p>
        <img src="/static/assets/img/project.svg" alt="Projects" width="25" height="50"> <a href="https://docs.asrg.io/collaboration/projects/" target="_blank">  Projects</a><br>
        <img src="/static/assets/img/github.svg" alt="Github" width="25" height="50"> <a href="https://github.com/ASRG/" target="_blank"> GitHub</a>
      </div>
    </div>
    </div>
  </div>

  <div>
    {% leaflet_map "locations_map" callback="window.map_init"%}
  </div>
</div>

</body>


{% endblock content %}

{% block javascripts %}

<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/main.js"></script>
{% leaflet_js %}
{% leaflet_css %}
<style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 800px;
    }

</style>
<script>
        
    function map_init(map, options) {
        let marker;
        {% for chapter in chapters %}
            {% if chapter.get_coordinates.0 != 0 and chapter.get_coordinates.1 != 0 %}
                marker = L.marker([{{ chapter.get_coordinates.0 }}, {{ chapter.get_coordinates.1 }}]);
                marker.bindPopup(
                    `Location: {{ chapter.location }}\r\n
                     City: {{ chapter.city }}, Country: {{ chapter.country }} \r\n
                     Lead: {{ chapter.lead }} \r\n`
                );
                marker.on('mouseover', function (e) {
                    this.openPopup();
                });
                marker.on('mouseout', function (e) {
                    this.closePopup();
                });
                marker.addTo(map);
            {% endif %}
        {% endfor %}

    }
</script>

{% endblock javascripts %}



