{% extends "layouts/base.html" %}

{% load leaflet_tags %}
{% load staticfiles %}

{% block title %}Threat Intelligence{% endblock %}

{% block content %}

<section>
  <body>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/jquery.scrolly.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <script src="https://unpkg.com/@ungap/custom-elements-builtin"></script>
    <script type="module" src="/static/assets/js/x-frame-bypass.js"></script>

    <section class="pricing" id="example">
      <div class="container">
        <h1>Google</h1>
        <iframe is="x-frame-bypass"
                style="position: relative; height: 100%; width: 100%; border: 1;"
                src="https://www.google.com"></iframe>
        <br/>
        <h1>ThreatQ</h1>
        <!-- [CORS Anywhere] https://github.com/Rob--W/cors-anywhere -->
        <!-- [ThreatQ Ask to not be blacklisted ] https://stackoverflow
        .com/questions/40866219/how-to-resolve-iframe-cross
        -domain-issue#answer-40866294 -->
        <!-- [iframe] https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe -->
        <iframe is="x-frame-bypass"
                crossOrigin="anonymous"
                referrerPolicy="origin"
                style="position: relative; height: 100%; width: 100%; border: 1;"
                src="https://intel.asrg.io"></iframe>
      </div>
    </section>

  </body>
</section>

  {% endblock content %}

  {% block javascripts %}

    <script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
    <script src="/static/assets/js/main.js"></script>
    {% leaflet_js %}
    {% leaflet_css %}

  {% endblock javascripts %}