{% extends base_template %}
{% load staticfiles %}

{% block title %} Event Details {% endblock %}

{% block content %}

<article id="main">
    <header>
        <h2>{{ event.location|capfirst }}</h2>
        <p>LiveStream</p>
        <h3>{{ event.title|capfirst }}</h3>
        <li style="list-style: none;">
            {% if event.link %}
            <a id="join-btn"
               href="{{ event.link }}"
               class="button primary">Join the LiveStream</a>
            {% endif %}
        </li>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <!-- <h2>Next LiveStream</h2> -->

            <h4>When: <b>{{ event.start_date }} | {{ event.start_time }} {{ event.timezone }} </b></h4>
            <h4>Where: <b>
                
                {% if event.link %}
                    <a href="{{ event.link }}">LiveStream</a>
                {% elif event.event_address %}
                    {{ event.event_address }}
                {% endif %}</b></h4>

            <h4>Who: <b>
                {% if event.presenter_profile_url %}
                    <a href="{{ event.presenter_profile_url }}" target="_blank">
                        {{ event.presenter_first_name|capfirst }} {{ event.presenter_last_name|capfirst }}
                    </a>
                {% else %}
                    {{ event.presenter_first_name|capfirst }} {{ event.presenter_last_name|capfirst }}
                {% endif %}

                {{ event.presenter_designation|capfirst }} at 
                {% if event.presenter_company_website %} 
                    <a href="{{ event.presenter_company_website }}">{{ event.presenter_company_name|capfirst }}</a></b>
                {% else %}
                    {{ event.presenter_company_name|capfirst }}
                {% endif %}
            </h4>

            <p>
            <!-- <h4>Presentation:</h4> -->
            <h3>{{ event.title }}</h3>
            {{ event.event_description }}
            </p>
            {% if event.presenter_bio %}
            <h4>About the Presenter:</h4>
            <p>
              <div class="speaker-div">
                {% if event.pres_img %}
                  <img src="{{ event.pres_img.url }}" class="speaker-img">
                {% endif %}
                {% if event.pres_com_log %}
                  <img src="{{ event.pres_com_log.url }}" class="logo-img">
                {% endif %}
              </div>
            {{ event.presenter_bio }}</p>
            {% endif %}
            <br><br>
            <a href="{{ event.presenter_profile_url }}" target="_blank" class="button primary">Visit Speaker Profile</a>
            {% if user.is_authenticated %}
              {% if event.slides %}
                <a href="{{ event.slides.url }}" target="_blank" class="button primary">Get Presentation Slides</a>
              {% endif %}
            {% endif %}
            </p>
            <!-- <iframe class="webinar"
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/yywQQXHpHFE"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
        </div>
    </section>
</article>


<!-- <div>
    <h3>{{ event.title|capfirst }}</h3>
    <p>When: {{event.date}} </p>
    <p>Where: Link </p>
    <p>Who: {{event.presenter}} </p>
    <p>Abstract: {{event.description}} </p>
    <p>About the Presenter:</p>
    <p>{{event.presenter_info}}</p>
</div> -->

{% endblock content %}
