{% load staticfiles %}

<!DOCTYPE html>
<html>

<title>ASRG | Automotive Security Research Group</title>
<meta charset="utf-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet"
      href="{% static 'assets/css/main.css' %}" />
<link rel="icon"
      href="{% static 'favicon.ico' %}"
      type="image/x-icon" />
<link rel="shortcut icon"
      href="{% static 'icon.ico' %}"
      type="image/x-icon" />
<link rel="apple-touch-icon"
      sizes="180x180"
      href="{% static '/apple-touch-icon.png' %}" />
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon-32x32.png' %}" />
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon-16x16.png' %}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
<noscript>
  <link rel="stylesheet"
        href="{% static 'assets/css/noscript.css' %}" /></noscript>
<link rel="stylesheet"
      href="{% static 'assets/css/custom.css' %}" />
<link rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>

<body class="landing is-preload">
  <!-- Page Wrapper -->
  <div id="page-wrapper">
    <!-- Header -->
    <header id="header"
            class="alt">
      <h1><a href="landing.html">ASRG</a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu"
               class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><a href="{% url 'landing' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="https://asrg.gitbook.io/asrg-wiki/">Docs</a></li>
                <li><a href="{% url 'security' %}">Report a vulnerability</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'register' %}">Become a Member</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li>
          <a href="https://join.slack.com/t/asrg/shared_invite/enQtNjMyMzAyMDM4MjI1LTM2Njc3MWRkNWI1NjkwYmQ4NDRkZjYwYmE2MzcyMWY3Y2IwZjc1YTAzYjQxM2M0NzdhOGEzNjNmYjNkM2EzZWM"
             class="icon brands fa-slack">
            <span class="label"></span></a>
        </li>
        <li>
          <a href="https://twitter.com/AutoSecResGroup"
             class="icon brands fa-twitter"><span class="label">Twitter</span></a>
        </li>
        <li>
          <a href="https://facebook.com/ASRG-Automotive-Security-Research-Group-1454803571254832/"
             class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/automotive-security-research-group/"
             class="icon brands fa-linkedin"><span class="label">Linkedin</span></a>
        </li>
        <li>
          <a href="mailto:hello@asrg.io"
             class="icon solid fa-envelope"><span class="label">Email</span></a>
        </li>
      </ul>
      <ul class="copyright">
        <li>&copy; 2020 ASRG.io</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        <li><a href="privacy.html">Data Privacy</a></li>
        <!-- <li><a href="https://asrg.io/imprint">Imprint</a></li> -->
      </ul>
    </footer>
  </div>

  <style>
    @media screen and (max-width: 640px) {
      .webinar {
        width: 100%;
        height: 100%;
      }
    }
    .speaker-div{
      float: left; 
      height: auto; 
      margin-right: 2rem; 
      text-align: center;
    }
    .speaker-img{
      display: block; 
      margin: auto; 
      margin-bottom: 2rem;
    }
  </style>

  <!-- Scripts -->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery.scrollex.min.js"></script>
  <script src="../assets/js/jquery.scrolly.min.js"></script>
  <script src="../assets/js/browser.min.js"></script>
  <script src="../assets/js/breakpoints.min.js"></script>
  <script src="../assets/js/util.js"></script>
  <script src="../assets/js/main.js"></script>
</body>

</html>