
{% extends "layouts/base-fullscreen.html" %}

{% load staticfiles %}

{% block title %} Reset password {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mx-4">
      {% if validlink %}
      <form role="form"
            method="post"
            action="">

        {% csrf_token %}

        <div class="card-body p-4">
          <div class="text-center">

            <!-- Banner -->
            <section id="banner">
              <div class="inner">
                <span>
                  <h2>
                    <a href="https://asrg.io/">
                      <img src="{% static './images/ASRG_Logo_black.png' %}"
                           alt="ASRG"
                           width="300"
                           height="107"
                           title="Automotive Security Research Group" />
                    </a>
                  </h2>
                </span>
              </div>
            </section>

            <h5>Member Registration</h5>
            <p class="text-muted">
              {% if not form.errors %}
              <span><i>To reset your password please fill out the below information.</i>
              </span>
              {% elif success  %}
                <span><i>{{ msg }}</i></span>
              {% endif %}
              {% for field in form %}
                {% if field.errors %}
                  {% for error in field.errors %}
                    <span style="color: red;">{{ error | safe }}<br></span>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </p>
          </div>
          <br />
        </div>
        <input hidden class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="text-center">
          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                </svg></span></div>
            {{ form.new_password1 }}
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">
                <svg class="c-icon">
                  <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                </svg></span></div>
            {{ form.new_password2 }}
          </div>

        <button type="submit"
                name="register"
                class="btn btn-primary px-4">Reset password</button>
        </div>
      </form>
      {% else %}
        <p class="text-muted">
          <span><i>The link provided is invalid!</i> </span>
        </p>
      {% endif %}

      <div class="card-footer p-4 text-center">
        Have an account? <a href={% url 'login' %}>Login</a>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
